.link-icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--bg-clr);
	padding: 10px;
	border-radius: 10px;
	z-index: 0;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background: var(--accent-clr);
		width: 100%;
		height: 100%;
		border-radius: 10px;
		transform: scale(0);
		transition: transform 0.3s;
	}

	&:hover::before {
		transform: scale(1);
	}
}
