.contact-form {
	background: #fff;
	padding: 25px;
	width: 100%;
	border-radius: 10px;
	flex-grow: 1;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	flex-grow: 1;
	font-size: 16px;
}

.form__title {
	font-size: clamp(20px, 3vw, 30px);
	font-weight: 500;
	margin-bottom: 10px;
}

.inputs__wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.input-container {
	display: flex;
	flex-direction: column;
}

.textarea-container {
	flex-grow: 1;
}

.contact-label {
	padding: 0 5px 5px;
}

.form__input,
textarea {
	padding: 10px 5px;
	border-radius: 10px;
	font-size: 1rem;
	height: 100%;
	background: var(--bg-clr) !important;
}

textarea {
	resize: none;

	&:focus {
		outline: none;
	}
}

.form-submit-btn {
	position: relative;
	z-index: 0;
	margin-top: auto;
	align-self: flex-end;
	padding: 10px;
	border-radius: 10px;
	overflow: hidden;
	background: var(--bg-clr);

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background: var(--accent-clr);
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.3s;
	}

	&:hover::before {
		transform: scaleX(1);
	}
}

@media screen and (max-width: 895px) {
	.contact-form {
		padding: 10px;
	}
}
