@use "./../../scss/mixins" as *;

.header {
	position: fixed;
	top: 25px;
	right: 25px;
	left: 25px;
	z-index: 4;
	background: rgba(255, 255, 255, 0.75);
	@include glass-effect;
	@include flex-center;
	min-height: 70px;
	border-radius: 10px;
}

.header-inner {
	@include flex-end-center;
	column-gap: 10px;
	padding: 0 10px;
	border-radius: 10px;
}

.header__logo {
	margin-right: auto;
	font-size: 1.5rem;
	@include flex-center;
	column-gap: 5px;
}

.header__catalog {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	border-radius: 10px;
	height: 50px;
	min-width: 50px;
	padding: 0 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);

	&:hover {
		border: 1px solid var(--accent-clr);
	}
}

.header__tel {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--accent-clr);
	height: 50px;
	min-width: 50px;
	padding: 0 10px;
	border-radius: inherit;

	span:nth-of-type(2) {
		display: none;
	}
}

@media screen and (width < 750px) {
	.header__tel {
		span:nth-of-type(1) {
			display: none;
		}

		span:nth-of-type(2) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.header__tel::before {
	content: "";
	position: absolute;
	z-index: -1;
	border-radius: inherit;
	width: 100%;
	height: 100%;
	background: var(--accent-clr);
	transform: scale(0);
	transform-origin: center center;
	transition: transform 0.3s;
}

.header__tel:hover::before {
	transform: scale(1);
}

// burger-btn

.burger-btn {
	background: var(--accent-clr);
	width: 50px;
	aspect-ratio: 1/1;
	@include grid-center;
	border-radius: inherit;
}

.burger-btn-inner {
	position: relative;
	width: 30px;
	padding: 15px 0;
	@include flex-center;
}

.burger-btn-inner::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background: #000;
	transform: translateY(-10px);
	transition: transform 0.5s 0.5s, rotate 0.5s;
}

.burger-btn-inner--active::before {
	transform: translateY(0) !important;
	rotate: 45deg;
	transition: transform 0.5s, rotate 0.5s 0.5s;
}

.burger-btn-inner::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background: #000;
	transform: translateY(10px);
	transition: transform 0.5s 0.5s, rotate 0.5s;
}

.burger-btn-inner--active::after {
	transform: translateY(0) !important;
	rotate: -45deg;
	transition: transform 0.5s, rotate 0.5s 0.5s;
}

.burger-btn-inner__center-line {
	width: 50px;
	height: 2px;
	border-radius: 1px;
	background: #000;
	opacity: 1;
	transition: opacity 0s 0.5s;
}

.burger-btn-inner__center-line--active {
	opacity: 0;
}

// menu

.menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	display: flex;
	flex-direction: column;
	background: var(--bg-clr);
	padding: 120px 25px 25px;
	overflow-y: auto;
	transform: translateY(-100%);
	transition: transform 1s ease;
}

.menu--active {
	transform: translateX(0%);
}

.menu__list {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	margin-bottom: 25px;
}

.link {
	position: relative;
	z-index: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 0 10px;
	font-size: 1.5rem;
	font-weight: 500;
	border-radius: 10px;
	background: #fff;
	overflow: hidden;
}

.link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transform: scaleY(0);
	transform-origin: center;
	background: var(--accent-clr);
	transition: transform 0.3s ease-out;
}

.link:hover::before {
	transform: scaleY(1);
}

.link--active::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transform: scale(1);
	transform-origin: top;
	background: var(--accent-clr);
}

.menu__products-link {
	display: flex;
	column-gap: 25px;
}

.products-btn {
	position: relative;
	z-index: 0;
	width: 50px;
	aspect-ratio: 1/1;
	font-size: 2rem;
	flex-shrink: 0;
	border-radius: 10px;
	background: #fff;
}

.products-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background: var(--accent-clr);
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.3s;
}

.products-btn--active::before {
	transform: translate(-50%, -50%) scale(1);
}

.products-btn__icon {
	@include grid-center;
	transition: transform 0.3s;
}

.products-btn__icon--active {
	transform: rotate(45deg);
}

.menu__grid-dropdown {
	display: grid;
	grid-template-rows: 0fr;
	transition: all 0.5s;
}

.menu__grid-dropdown--active {
	grid-template-rows: 1fr;
}

.menu__dropdown {
	overflow: hidden;
}

.menu__inner-dd {
	display: flex;
	justify-content: space-between;
	row-gap: 10px;
	column-gap: 25px;
	flex-wrap: wrap;
	padding: 10px;
}

.menu__sec-title {
	font: {
		size: 1.25rem;
		weight: 500;
	}

	margin-bottom: 10px;
}

.menu__products-list {
	display: flex;
	flex-direction: column;
	row-gap: 5px;

	li {
		a {
			transition: color 0.15s;

			&:hover {
				color: var(--accent-clr);
			}
		}
	}
}

.product-link--active {
	color: var(--accent-clr);
}

.menu__footer {
	margin-top: auto;
	display: flex;
	gap: 25px;
}

.menu__footer-link {
	position: relative;
	z-index: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 0 10px;
	border-radius: 10px;
	background: #fff;
	overflow: hidden;
}

.menu__footer-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transform: scaleY(0);
	transform-origin: center;
	background: var(--accent-clr);
	transition: transform 0.3s ease-out;
}

.menu__footer-link:hover::before {
	transform: scaleY(1);
}

// menu-curtain

.menu-curtain {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0);
	pointer-events: none;
	transition: background-color 1s;
}

.menu-curtain--active {
	background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
	.menu {
		padding: 90px 10px 10px;
	}

	.menu__list {
		row-gap: 10px;
		margin-bottom: 10px;
	}

	.menu__products-link {
		column-gap: 10px;
	}

	.menu__footer {
		gap: 10px;
	}
}

@media (max-width: 900px) {
	.header {
		top: 10px;
		right: 10px;
		left: 10px;
	}
}

@media (max-width: 600px) {
	.header__catalog {
		span:nth-child(1) {
			display: none;
		}
	}
}

@media (max-width: 510px) {
	.header__tel {
		display: none;
	}
}

@media (max-width: 500px) {
	.menu__footer {
		flex-direction: column;
	}
}

@media (max-width: 450px) {
	.header__logo {
		span {
			display: none;
		}
	}
}
