.login-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	height: 100svh;
	padding: 1rem;
}

.login-form {
	background: #fff;
	padding: 1.25rem;
	border-radius: 25px;
	width: min(100%, 500px);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.login-input-container {
	display: flex;
	flex-direction: column;

	input {
		border: 2px solid rgba(0, 0, 0, 0.1);
		padding: 0.5rem;
		border-radius: 10px;
	}
}

.login-submit-btn {
	background: #000;
	color: #fff;
	padding: 0.5rem;
	border-radius: 10px;
}
