@use "./../../scss/mixins" as *;

.our-certificates {
	width: 50%;
	position: relative;
	background: #fff;
	border-radius: 10px;
	padding: 25px;
	@include flex-center;
	flex-direction: column;
	row-gap: 10px;

	img {
		width: 300px;
	}
}

.our-certificates__title {
	align-self: flex-start;
	font-size: clamp(20px, 3vw, 30px);
	font-weight: 500;
}

@media screen and (max-width: 895px) {
	.our-certificates {
		width: 100%;
		padding: 10px;
	}
}
