@use "./../scss//mixins" as *;

.home-hero {
	position: relative;
	padding-top: 120px;
}

.home-hero-inner {
	position: relative;
	z-index: 0;
	// TODO: My new way to calc hero section
	height: minmax(min-content, calc(100svh - 145px));
	@include flex-center-start;
	flex-direction: column;
	row-gap: 25px;
	border-radius: 10px;
	padding: 25px;
	background: #fff;
	overflow: hidden;
}

.home-container__video {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: -1;
}

.home-container__video-author {
	position: absolute;
	right: 25px;
	bottom: 25px;
	color: #fff;
	font-size: 0.5rem;
}

.home-container__desc {
	font-size: clamp(1.25rem, 2vw, 1.5rem);
	font-weight: 500;
	color: #fff;
}

.home-container__title {
	color: #fff;
	font-weight: 600;
	font-size: clamp(2rem, 4vw, 3rem);
}

.link--basic {
	padding: 10px;
	border-radius: 10px;
}

.home-container__link {
	@extend .link--basic;
	background: var(--accent-clr);

	&:nth-of-type(1) {
		background: rgba(255, 255, 255, 0.75);
	}
}

.home-products__link {
	@extend .link--basic;
	display: block;
	background: #fff;
	width: min(100%, 300px);
	text-align: center;
	margin: 25px auto 0;

	&:hover {
		background: var(--accent-clr);
	}
}

.products-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
}

@media (max-width: 900px) {
	.products__filter-container {
		margin-bottom: 10px;
		padding: 5px;
		width: 100%;
	}

	.products__btn-container {
		gap: 5px;
	}

	.search-wrapper {
		margin-bottom: 10px;
		width: 100%;
	}

	.products-container {
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
	}
}

@media (max-width: 900px) {
	.home-hero {
		padding-top: 90px;
	}

	.home-hero-inner {
		height: minmax(min-content, calc(100svh - 100px));
		padding: 10px;
		row-gap: 10px;
	}

	.home-container__video-author {
		right: 10px;
		bottom: 10px;
	}

	.home-products__link {
		margin: 10px auto 0;
	}
}
