@use "./../../scss/mixins" as *;

.form-map-container {
	display: flex;
	gap: 25px;
	margin-top: 25px;
}

.contacts__map-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 100%;
	padding: 25px;
	background: #fff;
	border-radius: 10px;
}

.contacts__map-title {
	font-size: clamp(20px, 3vw, 30px);
	font-weight: 500;
}

.contacts__map {
	border-radius: inherit;
	aspect-ratio: 1/1;
}

.contacts-container {
	display: flex;
	gap: 25px;
	margin-top: 25px;
}

.column-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

@media screen and (max-width: 895px) {
	.form-map-container {
		flex-direction: column;
	}

	.form-map-container {
		@include flex-center;
		gap: 10px;
		margin-top: 10px;
	}

	.contacts__map-wrapper {
		padding: 10px;
	}

	.contacts-container {
		flex-direction: column;
		gap: 10px;
		margin-top: 10px;
	}
}
