.not-found {
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-direction: column;
}

.not-found__title {
	font-size: clamp(2rem, 6vw, 3rem);
	font-weight: 600;
}

.not-found__link {
	position: relative;
	z-index: 0;
	padding: 10px;
	border-radius: 10px;
	overflow: hidden;
	background: #fff;

	&:hover::before {
		transform: scaleX(1);
	}
}

.not-found__link::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: var(--accent-clr);
	transform: scaleX(0);
	transform-origin: bottom left;
	transition: transform 0.3s;
}
